* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f8ff;
}

/* header css  */
header {
    background-color: #0a1c29;
    position: fixed;
    width: 100%;
    padding: 1em;
    z-index: 1;
    max-height: 21vh;


}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 2em;
    font-size: 22px;
}

.navbar a {
    color: #efefef;
}

.icons {
    font-size: 4em;
	cursor: pointer;
	display: none;
	position: absolute;
	right: 3%;
    color: #efefef;
}

#check {
	display: none;
}

@media (max-width: 768px) {
    .logo {
        margin-left: 0;
        width: 150px;
        
    }

    .icons {
        display: inline-flex;
    }
    
    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #0a1c29;
        display: block;
        box-shadow: 0 0 .2em;
        overflow: hidden;
        transition: .5s ease;
        z-index: 3;
    }
    

    #check:checked~.navbar {
        height: 25em;
    }

    .navbar a {
        display: block;
        margin: 2.3em 0;
        text-align: center;
        transition: .5s ease;
        font-size: 160%;
        color: #efefef;
        font-weight: 500;
    }
}

@media (max-width: 420px) {
    .logo {
        width: 120px;
    }

    .icons {
        font-size: 3em;
    }
}